{% extends 'adminBase.html.twig' %}

{% block content %}
    <h1>Guides list</h1>
    <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">

            </div>
            <div class="body table-responsive">
                <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Datecreation</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>Note</th>
                <th>Photo</th>
                <th>Lien</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guide in guides %}
            <tr>
                <td><a href="{{ path('guide_show', { 'id': guide.id }) }}">{{ guide.id }}</a></td>
                <td>{{ guide.titre }}</td>
                <td>{% if guide.dateCreation %}{{ guide.dateCreation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ guide.categorie }}</td>
                <td>{{ guide.description }}</td>
                <td>{{ guide.Note }}</td>
                <td><img alt="" src="{{ asset('img/blog/') }}{{ guide.photo}}" style="width: 50px;height: 50px"></td>
                <td>{{ guide.lien }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('guide_show', { 'id': guide.id }) }}">show guide</a>
                        </li>
                        <li>
                            <a href="{{ path('guide_edit', { 'id': guide.id }) }}">edit guide</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                {{ knp_pagination_render(guides) }}

    </div>
    </div>
    </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('guide_new') }}">Create a new guide</a>
        </li>
    </ul>

{% endblock %}
