
{% extends 'adminBase.html.twig' %}

{% block content %}
    <h1>Guide</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guide.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ guide.titre }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if guide.dateCreation %}{{ guide.dateCreation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ guide.categorie }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ guide.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
            <td><img alt="" src="{{ asset('images/') }}{{ guide.photo}}" style="width: 50px;height: 50px"></td></tr>
            <tr>
                <th>Lien</th>
                <td>{{ guide.lien }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('guide_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('guide_edit', { 'id': guide.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
