<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Hunt Kingdom{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}" type="text/css">
            <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}" type="text/css">
            <link rel="stylesheet" href="{{asset('css/themify-icons.css')}}" type="text/css">
            <link rel="stylesheet" href="{{asset('css/elegant-icons.css')}}" type="text/css">
            <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/icon.png') }}" />


    </head>
    <body>

            <div id="preloder">
                <div class="loader"></div>
            </div>
            <header class="header-section">
                <div class="header-top">
                    <div class="container">
                        <div class="ht-left">
                            <div class="mail-service">
                                <i class=" fa fa-envelope"></i>
                                HuntKingdom@esprit.tn
                            </div>
                            <div class="phone-service">
                                <i class=" fa fa-phone"></i>
                                +216 ** *** ***
                            </div>
                        </div>
                        <div class="ht-right">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin') }}" class="login-panel" ><i class="fa fa-address-card"></i>Admin Dashboard</a>
                                <h1 class="login-panel">|</h1>
                            {% endif %}
                        {% if is_granted('ROLE_USER') %}

                            <a href="{{ path('fos_user_security_logout') }}" class="login-panel" ><i class="fa fa-sign-out"></i>Log out</a>
                            <h1 class="login-panel">|</h1>
                            <a href="{{ path('fos_user_profile_show') }}" class="login-panel" ><i class="fa fa-user-circle"></i>Profil</a>
                        {% else %}

                                <a href="{{ path('fos_user_registration_register') }}" class="login-panel" ><i class="fa fa-user-plus"></i>Sign up</a>
                                <h1 class="login-panel">|</h1>
                                <a href="{{ path('fos_user_security_login') }}" class="login-panel"><i class="fa fa-user"></i>Login</a>

                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="inner-header">
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div class="logo">
                                    <a href="#">
                                        <img src="{{ asset('logo.png') }}" alt="" style="width:1.5cm ">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7">
                                <div class="advanced-search">                                               {#todo#}
                                    <div class="input-group">
                                        <form method="post" action="{{ path('searchProduct') }}">
                                        <input type="text" placeholder="What do you need?" name="nom">
                                        <button type="submit"><i class="ti-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-right" id="refresh">
                                <ul class="nav-right" >
                                    {{ render(controller(
                                        'CommandeBundle:panier:index'
                                    )) }}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-item">
                        <nav class="nav-menu  mobile-menu mx-auto">
                            <ul>

                                <li class="{{ app.request.attributes.get('_route') == 'homepage' ? 'active' }}">
                                    <a href="{{ path('homepage') }}">Home</a>
                                </li>
                                <li class="{{ app.request.attributes.get('_route') == 'shop' ? 'active' }}">
                                    <a href="{{ path('shop') }}">Shop</a>
                                </li>
                                
                                <li><a href="#">Events</a></li>
                                <li><a href="#">Guides</a></li>
                                <li><a href="#">Contact</a></li>

                            </ul>
                        </nav>
                    <div id="mobile-menu-wrap" class="mt-5"></div>
                </div>
            </header>
         {% block content %}
            {% endblock %}
            <footer class="footer-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="footer-left">
                                <ul>
                                    <li>Address: Z.I. Chotrana II - B.P. 160 - 2083 Pôle Technologique - El Ghazala</li>
                                    <li>Phone: +216 ** *** ***</li>
                                    <li>Email: Contact@huntkingdom.tn</li>
                                </ul>
                                <div class="footer-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ">
                            <div class="footer-widget">
                                <h5>Information</h5>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Services</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="footer-widget">
                                <h5>My Account</h5>
                                <ul>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Shopping Cart</a></li>
                                    <li><a href="#">Shop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-reserved">
                    <p class="text-center">Copyright &copy; 2020 All rights reserved</p>
                </div>

            </footer>

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
            <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
            <script src="{{ asset('js/jquery.zoom.min.js') }}"></script>
            <script src="{{ asset('js/jquery.dd.min.js') }}"></script>
            <script src="{{ asset('js/jquery.slicknav.js') }}"></script>
            <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script>

                $('.remove').click(function (e) {
                    e.preventDefault();
                    $.ajax({url: $(this).attr('href'), success: function(){

                            $('#refresh').load(document.URL +  ' #refresh ul');
                        }});
                });

            </script>
        {% endblock %}
    {% block customscript %}
{% endblock %}
    </body>
</html>
