{% extends 'base.html.twig' %}

{% block content %}
    <h1>Liste_participant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ liste_participant.id }}</td>
            </tr>
            <tr>
                <th>Dateparticipation</th>
                <td>{% if liste_participant.dateParticipation %}{{ liste_participant.dateParticipation|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('liste_participants_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('liste_participants_edit', { 'id': liste_participant.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('liste_participants_delete', { 'id': liste_participant.id }) }}">delete</a>
        </li>
    </ul>
{% endblock %}
