{% extends 'base.html.twig' %}

{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h1>Produits list</h1>

                </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
              <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Qte</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.qte }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produit_show', { 'id': produit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produit_edit', { 'id': produit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
                        {% endfor %}
    </table>
    </div>
    </div>
    </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('produit_new') }}">Create a new produit</a>
        </li>
    </ul>
{% endblock %}
