{% extends 'adminBase.html.twig' %}
{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="container">

                <div class="row clearfix">
                    <h1>Products list</h1>
               </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Price</th>
                 <th>Photo</th>
                <th>Description</th>
                  <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.qte }}</td>
                <td>{{ produit.prix }}</td>
                <td><img alt="" src="{{ asset(produit.photo) }}" style="width:50px;height: 50px" ></td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.categorie.nom }}</td>
                <td>

                            <a href="{{ path('produit_show', { 'id': produit.id }) }}" class="btn btn-primary btn-lg">show</a>

                            <a href="{{ path('produit_edit', { 'id': produit.id }) }}" class="btn btn-primary btn-lg">edit</a>
                    <a href="{{ path('produit_delete', { 'id': produit.id }) }}" class="btn btn-primary btn-lg">delete</a>

                </td>
            </tr>
        </tbody>
                        {% endfor %}
    </table>

     {{knp_pagination_render(produits)}}
    <td>
        <li>
            <a href="{{ path('produit_new') }}">Create a new produit</a>
        </li>
    </td>
        </div>
    </div>
</div>
    </div>
    </div>

{% endblock %}
