{% extends 'search.html.twig' %}
{% block search %}
<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>All Claims</h3>
        </div><!--company-title end-->
        <div class="companies-list">
            <div class="row">
        {% for reclamation in reclamations %}
            <div class="col-lg-3 col-md-4 col-sm-10 col-80">
                <div class="company_profile_info">
                    <div class="company-up-info">
                        <h1>{{ reclamation.reclamer }} </h1>
                        <br> <br>
                        <h4>Date : {% if reclamation.date %}{{ reclamation.date|date('d-m-Y') }}{% endif %}</h4>
                         <h5>about {{ reclamation.objet }}:{{ reclamation.contenu }} </h5>
                        <br>
                            <ul>
                                <li><a href="{{ path('reclamation_delete', { 'id': reclamation.id }) }}" title="" class="follow">Delete</a></li>
                                <li><a href="{{ path('reclamation_edit', { 'id': reclamation.id }) }}" title="" class="hire-us">Edit</a></li>
                            </ul>
                        <br><br><br>

                            <a href="{{ path('reclamation_show', { 'id': reclamation.id }) }}" title="" class="btn btn-default">Show</a>
                    </div>
                </div><!--company_profile_info end-->
            </div>
        {% endfor %}
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}
