{% extends 'search.html.twig' %}
{% block search %}
<div class="wrapper">
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <div class="product-feed-tab current" id="feed-dd">
                    <br>
                    <br>
                    <br>
                    <div class="post-project">
                        <h3>claim list</h3>
                        <div class="post-project-fields">
                            <div class="row">
            </div>
            <div class="body table-responsive">
                <table class="table table-borderless ">
                    <thead>
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td><a href="{{ path('reclamation_show', { 'id': reclamation.id }) }}">{{ reclamation.id }}</a></td>
                <td>{{ reclamation.objet }}</td>
                <td>{{ reclamation.contenu }}</td>
                <td>{% if reclamation.date %}{{ reclamation.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reclamation_show', { 'id': reclamation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reclamation_edit', { 'id': reclamation.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('reclamation_delete', { 'id': reclamation.id }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>

            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
