{% extends 'adminBase.html.twig' %}
{% block content %}
    <div class="container-fluid mt--7">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <div class="product-feed-tab current" id="feed-dd">
                        <div class="post-project">
                            <h3>claim list</h3>

                            <div class="post-project-fields">
                                <div class="body table-responsive">
                                    <table class="table table-borderless ">
                                        <thead>
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Objet</th>
                                            <th>Contenu</th>
                                            <th>Date</th>
                                            <th>user</th>
                                            <th>target</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for reclamation in reclamations %}
                                            <tr>
                                                <td><a href="{{ path('reclamation_show', { 'id': reclamation.id }) }}">{{ reclamation.id }}</a></td>
                                                <td>{{ reclamation.objet }}</td>
                                                <td>{{ reclamation.contenu }}</td>
                                                <td>{% if reclamation.date %}{{ reclamation.date|date('d-m-Y') }}{% endif %}</td>
                                                <td>{{ reclamation.user}}</td>
                                                <td>{{ reclamation.reclamer}}</td>
                                                <td>
                                                    <ul>
                                                        {% if reclamation.reclamer.enabled == 1 %}
                                                        <li>
                                                            <a class="btn btn-warning" href="{{ path('block_user', { 'id': reclamation.reclamer.id }) }}">block</a>
                                                        </li>
                                                        {% endif %}
                                                        {% if reclamation.reclamer.enabled == 0 %}
                                                            <li>
                                                                <a class="btn btn-success" href="{{ path('unblock_user', { 'id': reclamation.reclamer.id }) }}">Unblock</a>
                                                            </li>
                                                        {% endif %}
                                                        <li>
                                                            <a class="btn btn-primary" href="{{ path('reclamationa_show',{ 'id': reclamation.id }) }}">show</a>
                                                        </li>


                                                    </ul>

                                                </td>
                                            </tr>
                                        {% endfor %}

                                    </table>
                                    <div class="navigation text-center">
                                        {{ knp_pagination_render(reclamations) }}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    </div>
{% endblock %}
