{% extends 'base.html.twig' %}
{% block content %}
<div class="col-lg-6">
    <div class="main-ws-sec">
        <div class="user-tab-sec">
            <h3>{{ app.user.username }}</h3>
        </div><!--user-tab-sec end-->
        <div class="product-feed-tab current" id="feed-dd">
            <div class="post-project">
                <h3>claim</h3>
                <div class="post-project-fields">
                    <div class="row">

    <table class="table table-borderlesss">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ reclamation.objet }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ reclamation.contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if reclamation.date %}{{ reclamation.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <th>user</th>
            <td>{{ reclamation.user }}</td>
        </tbody>
    </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
