{% extends 'search.html.twig' %}
{% block search %}<link rel="stylesheet" href="{{ asset('css/stylee.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3> ID: {{ reclamation.id }} </h3>
        </div><!--company-title end-->
        <div class="companies-list">
            <div class="row">
                <div class="post-project-fields">
                    <div class="row">
                        <div class="post-bar">
                            <div class="post_topbar">
                                <div class="usy-dt">
                                    <div class="usy-name">
                                        <h1>{{ reclamation.user }}</h1>
                                        <span><img src={{asset("img/clock.png")}} alt="">{% if reclamation.date %}{{ reclamation.date|date('d-m-Y') }}{% endif %}</span>
                                    </div>
                                </div>

                            </div>
                            <div class="epi-sec">
                                <ul class="descp">
                                    <li><img src={{asset("img/icon8.png")}} alt=""><span>{{ reclamation.reclamer }}</span></li>
                                </ul>
                            </div>
                            <div class="job_descp">
                                <h3>{{ reclamation.objet }}</h3>
                                <p>{{ reclamation.contenu }} </p>

                            </div>

                        </div><!--post-bar end-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
