{% extends 'adminBase.html.twig' %}

{% block content %}

    <div class="container-fluid mt--7">

    <div class="row clearfix ">
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card p-5">
    <h1>Commentaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ commentaire.contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if commentaire.date %}{{ commentaire.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>username</th>
                <td>{{ commentaire.user.username }}</td>
            </tr>
        </tbody>
    </table>

        <center>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}</center>


    </div></div></div></div>
{% endblock %}