{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <h1>Evenement creation</h1>

    {{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.description) }}
    {{ form_label(form.dateFin , 'Date Evenement') }}
    {{ form_widget(form.dateFin) }}
    {{ form_row(form.nbrePlaces) }}
    {{ form_row(form.photo) }}
    <input href="{{ path('evenement_view') }}" type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}