{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}

    <div class="container mt--7 ">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="card p-4 shadow border-0">
                    {{ form_start(form) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.description) }}
                    {{ form_label(form.dateFin , 'Date Evenement') }}
                    {{ form_widget(form.dateFin) }}
                    {{ form_row(form.nbrePlaces) }}
                    {{ form_row(form.photo) }}
                    <input class="primary-btn" type="submit" value="Create Event" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}