{% extends 'base.html.twig' %}
{% block content %}

<center>
         <br>
         <div class="col-sm-5">
             <button class="btn btn-primary"><a style="color: white" href="{{  path('evenement_newUser')}}">Create Event</a> </button>
         </div>
    <section class="blog-section spad">
            <div class="col-md-7 order-1 order-lg-2">
                {% for event in events %}
                <div class="row">
                    <div class="col">
                    <div class="col-lg-6 col-sm-6">
                        <div class="blog-item">
                <div class="bi-pic">
                    <img src="{{asset('images/')}}{{ event.photo }}" alt="" >
                </div>
                <div class="bi-text">
                    <h4>{{ event.nom }}</h4>
                    <p> Description <span>{{ event.description }}</span></p>
                    <p> Date Start <span>{{ event.dateDebut|date('Y-m-d')  }}</span></p>
                    <p> Date End<span>{{ event.dateFin|date('Y-m-d')  }}</span></p>
                </div>
                {% set x=false  %}
                {% for lp in event.getListesParticipants() %}
                    {% if lp.user == app.user %}
                        {% set x=true  %}
                    {% endif %}
                {% endfor %}
                {% if x %}
                    <button class="btn btn-primary"><a href="{{ path('quitter', {'id': event.id}) }}" id="part" style="color: white">leave</a></button>
                {% else %}
                    <button class="btn btn-primary"><a href="{{ path('participer', {'id': event.id}) }}" id="part" style="color: white">join</a></button>
                {% endif %}
                            <button class="btn btn-primary">  {{ twitterButton() }} </button>
                           {{ facebookButton() }}
                        </div>
                        </div>

                </div>

            </div>
                {% endfor %}
            </div>
            </section>
</center>
{% endblock %}