{% extends 'adminBase.html.twig' %}

{% block content %}
<div class="register-login-section spad">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
    <h3>Commande creation</h3>

    {{ form_start(form) }}
        {{ form_row(form.adresse) }}
        {{ form_row(form.status) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('commande_index') }}">Back to the list</a>
        </li>
    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
