{% extends 'adminBase.html.twig' %}

{% block content %}
    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <a href="{{ path('commande_index') }}" class="btn btn-sm btn-success float-right">Back to the list</a>
                        <h3 class="mb-0">Order n° {{commande.id}} </h3>

                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Client</th>
                                <td>{{commande.user.nom}}</td>
                            </tr>
                            <tr>
                                <th scope="col">Order date</th>
                                <td> {{ commande.date | date('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Delivered at</th>
                                <td>
                                {% if commande.status == 'Cancelled' %}
                                    <span class="text-danger">Cancelled</span>
                                {% else %}
                                    {% if commande.status == 'Pending' %}
                                        <span class="text-warning">Pending</span>
                                    {% else %}
                                        {{ commande.dateLivraison | date('d/m/Y') }}
                                    {% endif %}
                                {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Status</th>
                                {% if commande.status == 'Pending' %}
                                    <td class="text-warning">

                                        {{commande.status}}
                                    </td>
                                {% elseif commande.status == 'Cancelled' %}
                                    <td class="text-danger">

                                        {{commande.status}}
                                    </td>
                                {% else %}
                                    <td class="text-success">

                                        {{commande.status}}
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">Adresse</th>
                                <td>{{commande.adresse}}</td>
                            </tr>
                            <tr>
                                <th scope="col">Phone n°</th>
                                <td>{{commande.tel}}</td>
                            </tr>
                            <tr>
                                <th scope="col">Total price</th>
                                <td>{{commande.prixTotal}} T.N.D</td>
                            </tr>
                            <tr>
                                <th scope="col">payment id</th>
                                <td>{{commande.chargeId}}</td>
                            </tr>

                            </thead>

                            </table>
                        <div class="card-footer py-4 text-center">

                                <a class="btn btn-sm btn-danger ajax" href="{{ path('commande_edit', { 'id': commande.id,'type':'Cancelled' }) }}">Cancel</a>
                                <a class="btn btn-sm btn-success ajax" href="{{ path('commande_edit', { 'id': commande.id,'type':'Delivered' }) }}">Delivered</a>
                                <a class="btn btn-sm btn-warning ajax" href="{{ path('commande_edit', { 'id': commande.id,'type':'Pending' }) }}">Pending</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="row mt-5">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Products</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Product</th>
                                <th scope="col">Unit price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>

                            </tr>
                            </thead>

                            <tbody>
                            {% for lc in commande.lignesCommande %}
                            <tr>
                                <td>
                                        {{lc.id}}
                                </td>
                                <td>
                                    {{ lc.produit.nom}}
                                </td>
                                <td>
                                    {{ lc.produit.prix}}
                                </td>
                                <td>
                                    {{ lc.quantite }}
                                </td>
                                <td>
                                    {{ lc.prix}} T.N.D
                                </td>
                            </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div></div></div></div></div>
    <div class="container p-5"></div>
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>
<script>

    $('.ajax').click(function (e) {
        e.preventDefault();
        $.ajax({url: $(this).attr('href'), success: function(){

                location.reload();
            }});


    });
</script>

{% endblock %}