{% extends 'adminBase.html.twig' %} {# this #}

{% block content %}
<div class="container-fluid mt--7"> {# this #}
    <div class="row"> {# this #}
        <div class="col"> {# this #}
            <div class="card shadow">
                <div class="card-header border-0">
                    <a class="btn btn btn-outline-success float-right " href="{{ path('promotion_new') }}">Create a new promotion</a>

                    <h3 class="mb-0">Promotions</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">name</th>
                            <th scope="col">Start date</th>
                            <th scope="col">End date</th>
                            <th scope="col">reduction rate</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
           <tbody>
            {% for promotion in promotions %}
            <tr>
                <td><a href="{{ path('promotion_show', { 'id': promotion.id }) }}">{{ promotion.id }}</a></td>
                <td>{{ promotion.nom }}</td>
                <td>{{ promotion.dateDebut|date() }}</td>
                <td>{{ promotion.dateFin|date()}}</td>
                <td>{{ promotion.tauxReduction}}%</td>
                <td><a class="btn btn-sm btn-outline-primary " href="{{ path('promotion_show', { 'id': promotion.id }) }}">Show</a>
                <a class="btn btn-sm btn-outline-primary" href="{{ path('promotion_edit', { 'id': promotion.id }) }}">Edit</a>
               <a  class="btn btn-sm btn-outline-primary" href="{{ path('promotion_delete', { 'id': promotion.id }) }}">Delete</a>
                <a class="btn btn-sm btn-outline-primary" href="{{ path('promotion_AjoutProduct', { 'id': promotion.id }) }}">Add products</a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




                </div></div></div></div></div>
{% endblock %}
